@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    --backgroundcolor: #222224;
    --mainfontcolor: #e0e0e0;
    --tilebackgroundcolor: #333336;
    --tileborderradius: 24px;
    --hbackgroundcolor: #121212;
}

body {
    background-color: var(--backgroundcolor);
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--mainfontcolor);
    overflow: hidden;
}

h1 {
    color: var(--hbackgroundcolor);
}
