* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style the body element */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #222222;
    color: #222222;
  }

  #convertButton {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    color: #efefef;
    background-color: #424242;
  }

  #wavFileInput {
    height: 50px;
    width: 150px;
  }

  .container {
    background-color: #efefef;
    height: 50vh; /* set the height of the container */
    width: 50vh;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    left: 0;
    top: 0;
  }
